body{

  margin:0;
  font-family:Arial;
  background:#0a0a0a;
  color:white;

  }

  header{

  background:#111;
  padding:12px;
  text-align:center;

  }

  .menu{

  display:flex;
  gap:8px;
  justify-content:center;
  flex-wrap:wrap;

  }

  .menu button{

  background:#c40000;
  border:none;
  padding:10px;
  color:white;
  border-radius:6px;

  }

  main{

  padding:10px;

  }

  .card{

  background:#161616;
  padding:15px;
  margin-bottom:10px;
  border-radius:10px;

  }

  input,select{

  width:100%;
  padding:10px;
  margin-top:8px;
  border:none;
  border-radius:6px;
  background:#222;
  color:white;

  }

  .dashboard{

  display:grid;
  grid-template-columns:1fr 1fr;
  gap:10px;

  }

  .material{

  display:flex;
  justify-content:space-between;
  align-items:center;

  }

  button{

  margin-top:8px;

  }