body{

  margin:0;
  font-family:Arial;
  background:black;
  color:white;

  }

  header{

  text-align:center;
  padding:15px;
  border-bottom:2px solid red;

  }

  nav{

  display:flex;
  gap:5px;
  padding:10px;
  background:#111;
  flex-wrap:wrap;

  }

  nav button{

  flex:1;
  padding:10px;
  background:red;
  border:none;
  color:white;
  border-radius:8px;

  }

  main{

  padding:10px;

  }

  .card{

  background:#111;
  border:1px solid red;
  padding:15px;
  border-radius:10px;
  margin-bottom:10px;

  }

  input,select{

  width:100%;
  padding:10px;
  margin-top:8px;
  background:#222;
  border:none;
  color:white;
  border-radius:6px;

  }

  button{

  cursor:pointer;

  }