:root {

--cor-primaria:#00b894;
--cor-fundo:#121212;
--cor-card:#1e1e1e;

}

body{

font-family:Arial;
background:var(--cor-fundo);
color:white;
padding:20px;

}

header{

display:flex;
justify-content:space-between;
align-items:center;

}

.card{

background:var(--cor-card);
padding:15px;
border-radius:8px;
margin-top:10px;

}

button{

background:var(--cor-primaria);
border:none;
padding:12px;
color:white;
font-weight:bold;
width:100%;
margin-top:10px;

}

input,select,textarea{

width:100%;
padding:10px;
margin:5px 0;
border-radius:6px;
border:none;

}
